/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "GeistSans";
  src: url("/src/fonts/Geist-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Neue";
  src: url("/src/fonts/NeueMontreal-Regular.ttf");
}

* {
  /* font-family: "poppins", sans-serif !important; */
  font-family: "inter", sans-serif !important;
}

.text-type {
  display: inline-block;
  white-space: pre-wrap;
}

.text-type__cursor {
  margin-left: 0.25rem;
  display: inline-block;
  opacity: 1;
}

.text-type__cursor--hidden {
  display: none;
}
.is-editor-empty::before {
  content: attr(data-placeholder);
  /* Tailwind gray-400 */
  float: left;
  pointer-events: none;
  height: 0;
}

/* loader */
/* From Uiverse.io by SchawnnahJ */
.loader {
  position: relative;
  width: 2.5em;
  height: 2.5em;
  transform: rotate(165deg);
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.25em;
  transform: translate(-50%, -50%);
}

.loader:before {
  animation: before8 2s infinite;
}

.loader:after {
  animation: after6 2s infinite;
}

@keyframes before8 {
  0% {
    width: 0.5em;
    box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75),
      -1em 0.5em rgba(111, 202, 220, 0.75);
  }

  35% {
    width: 2.5em;
    box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75),
      0 0.5em rgba(111, 202, 220, 0.75);
  }

  70% {
    width: 0.5em;
    box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75),
      1em 0.5em rgba(111, 202, 220, 0.75);
  }

  100% {
    box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75),
      -1em 0.5em rgba(111, 202, 220, 0.75);
  }
}

@keyframes after6 {
  0% {
    height: 0.5em;
    box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75),
      -0.5em -1em rgba(233, 169, 32, 0.75);
  }

  35% {
    height: 2.5em;
    box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75),
      -0.5em 0 rgba(233, 169, 32, 0.75);
  }

  70% {
    height: 0.5em;
    box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75),
      -0.5em 1em rgba(233, 169, 32, 0.75);
  }

  100% {
    box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75),
      -0.5em -1em rgba(233, 169, 32, 0.75);
  }
}

.loader {
  position: absolute;
  top: calc(50% - 1.25em);
  left: calc(50% - 1.25em);
}

.ant-notification .ant-notification-notice-wrapper {
  border: 1px solid rgb(224, 224, 224);
  /* border-radius: 8px; */
}
.ant-form-item-label {
  padding: 5px 0 !important;
}

.ant-form-item .ant-form-item-explain-error {
  font-size: 12px !important;
  margin-top: 2px !important;
}

.custom_hover:hover {
  background-color: #35915a !important;
  color: white !important;
  border: 1px solid transparent !important;
}
.custom_hover_second:hover {
  border-color: #35915a !important;
  color: #35915a !important;
  background-color: transparent !important;
}

.custom_button_style {
  @apply text-[12px] font-semibold h-[30px] px-4 border-none shadow-none text-white bg-secondary-color;
}
.custom_button_style_secondary {
  @apply text-[12px] font-semibold h-[30px] px-4 border border-gray-400 shadow-none;
}
.custom_button_style_icon {
  @apply !border-none shadow-none !bg-transparent;
}

.ant-drawer .ant-drawer-body {
  padding: 6px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #7aba78;
  border-radius: 12px;
}

.custom_dropdown.ant-dropdown {
  min-width: 230px !important;
}

.ProseMirror:focus {
  outline: none;
}
.ProseMirror {
  text-align: left;

  width: 60vw;
}

.ProseMirror p.is-editor-empty:first-child::before {
  float: left;
  color: #858585;
  pointer-events: none;
  height: 0;
  content: "Write something...";
}

.editButton {
  border: 0;
  background: none;
  width: 3rem;
  height: 3rem;
  border: 1px solid grey;
  margin: 0 0.2rem;
  font-size: 1.5rem;
  border-radius: 0.4rem;
}

.ant-float-btn-body {
  background-color: #7aba78 !important;
}
.gradient-animated-text {
  background: linear-gradient(
    90deg,
    #40ffaa,
    #4079ff,
    #40ffaa,
    #4079ff,
    #40ffaa
  );
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 10s ease infinite;
}

@keyframes gradientMove {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
/* .aurora-bg {
  position: relative;
  overflow: hidden;
  background-color: #0f172a;
  isolation: isolate;
}

.aurora-bg::before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  top: -25%;
  left: -25%;
  background: radial-gradient(circle at 30% 30%, #7dd3fc 0%, transparent 50%),
    radial-gradient(circle at 70% 40%, #c084fc 0%, transparent 50%),
    radial-gradient(circle at 50% 70%, #34d399 0%, transparent 50%);
  opacity: 0.15;
  filter: blur(100px);
  z-index: -1;
} */

.type--A {
  --line_color: #555555;
  --back_color: #0ff0a5;
}
.type--B {
  --line_color: #1b1919;
  --back_color: #0ff0a5;
}
.type--C {
  /* --line_color: #00135c; */
  --back_color: #0ff0a5;
}
.batton {
  position: relative;
  z-index: 0;
  width: 240px;
  height: 56px;
  text-decoration: none;

  font-weight: semibold;
  color: var(--line_color);
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
.batton__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.batton::before,
.batton::after,
.batton__text::before,
.batton__text::after {
  content: "";
  position: absolute;
  height: 3px;
  border-radius: 2px;
  background: var(--line_color);
  transition: all 0.5s ease;
}
.batton::before {
  top: 0;
  left: 54px;
  width: calc(100% - 56px * 2 - 16px);
}
.batton::after {
  top: 0;
  right: 54px;
  width: 8px;
}
.batton__text::before {
  bottom: 0;
  right: 54px;
  width: calc(100% - 56px * 2 - 16px);
}
.batton__text::after {
  bottom: 0;
  left: 54px;
  width: 8px;
}
.batton__line {
  position: absolute;
  top: 0;
  width: 56px;
  height: 100%;
  overflow: hidden;
}
.batton__line::before {
  content: "";
  position: absolute;
  top: 0;
  width: 150%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 300px;
  border: solid 3px var(--line_color);
}
.batton__line:nth-child(1),
.batton__line:nth-child(1)::before {
  left: 0;
}
.batton__line:nth-child(2),
.batton__line:nth-child(2)::before {
  right: 0;
}
.batton:hover {
  letter-spacing: 6px;
}
.batton:hover::before,
.batton:hover .batton__text::before {
  width: 8px;
}
.batton:hover::after,
.batton:hover .batton__text::after {
  width: calc(100% - 56px * 2 - 16px);
}
.batton__drow1,
.batton__drow2 {
  position: absolute;
  z-index: -1;
  border-radius: 16px;
  transform-origin: 16px 16px;
}
.batton__drow1 {
  top: -16px;
  left: 40px;
  width: 32px;
  height: 0;
  transform: rotate(30deg);
}
.batton__drow2 {
  top: 44px;
  left: 77px;
  width: 32px;
  height: 0;
  transform: rotate(-127deg);
}
.batton__drow1::before,
.batton__drow1::after,
.batton__drow2::before,
.batton__drow2::after {
  content: "";
  position: absolute;
}
.batton__drow1::before {
  bottom: 0;
  left: 0;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-60deg);
}
.batton__drow1::after {
  top: -10px;
  left: 45px;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(69deg);
}
.batton__drow2::before {
  bottom: 0;
  left: 0;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-146deg);
}
.batton__drow2::after {
  bottom: 26px;
  left: -40px;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-262deg);
}
.batton__drow1,
.batton__drow1::before,
.batton__drow1::after,
.batton__drow2,
.batton__drow2::before,
.batton__drow2::after {
  background: var(--back_color);
}
.batton:hover .batton__drow1 {
  animation: drow1 ease-in 0.06s;
  animation-fill-mode: forwards;
}
.batton:hover .batton__drow1::before {
  animation: drow2 linear 0.08s 0.06s;
  animation-fill-mode: forwards;
}
.batton:hover .batton__drow1::after {
  animation: drow3 linear 0.03s 0.14s;
  animation-fill-mode: forwards;
}
.batton:hover .batton__drow2 {
  animation: drow4 linear 0.06s 0.2s;
  animation-fill-mode: forwards;
}
.batton:hover .batton__drow2::before {
  animation: drow3 linear 0.03s 0.26s;
  animation-fill-mode: forwards;
}
.batton:hover .batton__drow2::after {
  animation: drow5 linear 0.06s 0.32s;
  animation-fill-mode: forwards;
}
@keyframes drow1 {
  0% {
    height: 0;
  }
  100% {
    height: 100px;
  }
}
@keyframes drow2 {
  0% {
    width: 0;
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  11% {
    opacity: 1;
  }
  100% {
    width: 120px;
  }
}
@keyframes drow3 {
  0% {
    width: 0;
  }
  100% {
    width: 80px;
  }
}
@keyframes drow4 {
  0% {
    height: 0;
  }
  100% {
    height: 120px;
  }
}
@keyframes drow5 {
  0% {
    width: 0;
  }
  100% {
    width: 124px;
  }
}

/* From Uiverse.io by dovatgabriel */
.three-body {
  --uib-size: 35px;
  --uib-speed: 0.8s;
  --uib-color: #2ddd94;
  position: relative;
  display: inline-block;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
  position: absolute;
  height: 100%;
  width: 30%;
}

.three-body__dot:after {
  content: "";
  position: absolute;
  height: 0%;
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--uib-color);
  border-radius: 50%;
}

.three-body__dot:nth-child(1) {
  bottom: 5%;
  left: 0;
  transform: rotate(60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite ease-in-out;
  animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
  bottom: 5%;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite calc(var(--uib-speed) * -0.15)
    ease-in-out;
}

.three-body__dot:nth-child(3) {
  bottom: -5%;
  left: 0;
  transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
  top: 0;
  left: 0;
  animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes wobble1 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(-66%) scale(0.65);
    opacity: 0.8;
  }
}

@keyframes wobble2 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(66%) scale(0.65);
    opacity: 0.8;
  }
}
